/* center bird */
section{position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%)
}
/* bird size */
#bird{
  width: 200px;
  padding: 40px;
  transform-origin: bottom center;
  /* animation: flyIn 2s 0s 1 ease-out; */
  animation: slideUp .5s 3.1s 1 ease-out;
}
/* tail and wing animation */
path#Tail1,
path#Tail2{
  z-index: 10;
  transform-origin: top left;
  animation: tailMove .3s 2s 2 ease;
}

path#Wing1{
  transform-origin: bottom right;
  animation: wingMove .1s 3s 5 ease;
}
path#Wing2{
  transform-origin: bottom right;
  animation: wingMove2 .1s 3.1s 5 ease;
}
path#Wing3{
  transform-origin: bottom right;
  animation: wingMove3 .1s 3.2s 5 ease;
}
path#Wing4{
  transform-origin: top right;
  animation: wingMove4 .1s 3.3s 4 ease;
}
path#Wing5{
  transform-origin: top right;
  animation: wingMove5 .09s 3.4s 3 ease;
}


/* Keyframes */


@keyframes tailMove {
  0%, 75% { transform: rotate(0deg); }
  50%, 100% { transform: rotate(75deg); }
}

@keyframes wingMove {
  0%, 75% { transform: rotate(20deg); }
  50%, 100% { transform: rotate(-105deg); }
}
@keyframes wingMove2 {
  0%, 75% { transform: rotate(15deg); }
  50%, 100% { transform: rotate(-95deg); }
}
@keyframes wingMove3 {
  0%, 75% { transform: rotate(10deg); }
  50%, 100% { transform: rotate(-85deg); }
}
@keyframes wingMove4 {
  0%, 75% { transform: rotate(5deg); }
  50%, 100% { transform: rotate(-75deg); }
}
@keyframes wingMove5 {
  0%, 75% { transform: rotate(0deg); }
  50%, 100% { transform: rotate(-80deg); }
}

@keyframes slideUp {
  0% { transform: translateY( 0px );}
  25% { transform: translateY(-30px); }
  50% { transform: translateY(-75px); }
  75% { transform: translateY(-25px); }
  100% { transform: translateY(0px); }
}

@keyFrames flyIn {
  0% { transform: scale( 0 );}
  25% { transform: scale( .25 );}
  50% { transform: scale( .6 ); }
  100% { transform: scale( 200px ); }
}