@charset "UTF-8";

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html, button, input, select, textarea {
  font-family: inherit;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}

body, form, fieldset, legend, input, select, textarea, button {
  margin: 0;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

audio, canvas, progress, video {
  display: inline-block;
}

progress {
  vertical-align: baseline;
}

[hidden], template {
  display: none;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

body {
  font-family: "Antic Slab", serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 22px;
  line-height: 1.375rem;
  color: #000;
  font-weight: 400;
  background: var(--white);
}

p {
  margin: 0 0 20px 0;
}

a {
  color: #000;
  text-decoration: underline;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active, a:hover {
  color: #000;
  outline-width: 0;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, nav {
  font-family: "Bree Serif", serif;
  margin: 0;
}

h1, .h1 {
  font-size: 48px;
  font-size: 3rem;
  line-height: 38px;
  line-height: 2.375rem;
}

h2, .h2 {
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 32px;
  line-height: 2rem;
}

h3, .h3 {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 28px;
  line-height: 1.75rem;
}

h4, .h4 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
}

h5, .h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 22px;
  line-height: 1.375rem;
}

h6, .h6 {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 20px;
  line-height: 1.25rem;
}

h1 {
  margin-bottom: .5em;
  color: #000;
  font-weight: 700;
}

h2 {
  margin-bottom: .2em;
  color: #000;
  font-weight: 700;
}

h3 {
  margin-bottom: .2em;
  color: #000;
  font-weight: 700;
}

h4 {
  margin-bottom: .2em;
  color: #000;
  font-weight: 700;
}

h5 {
  margin-bottom: .1em;
  color: #000;
  font-weight: 700;
}

h6 {
  margin-bottom: .1em;
  color: #000;
  font-weight: 700;
}

b, strong, .strong {
  font-weight: 700;
}

em, .em {
  font-style: italic;
}

abbr[title], .abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

dfn {
  font-style: italic;
}

small, .small {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 16px;
  line-height: 1rem;
}

mark, .mark {
  background-color: #ff0;
  color: #000;
}

sub, .sub, sup, .sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub, .sub {
  bottom: -0.25em;
}

sup, .sup {
  top: -0.5em;
}

del, .del {
  text-decoration: line-through;
}

figure {
  margin: 1em 40px;
}

hr, .hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 1px;
  background: #eee;
  border: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

ul, ol {
  margin: 20px 0;
  padding: 0 0 0 40px;
}

dl:before, dl:after {
  content: " ";
  display: table;
}

dl:after {
  clear: both;
}

dl dt {
  float: left;
  width: 25%;
  display: block;
  font-weight: 400;
}

dl dd {
  overflow: hidden;
  display: block;
}

blockquote,
.blockquote {
  font-family: sans-serif;
  font-weight: 400;
  font-style: italic;
  margin: 20px 0;
}

blockquote p,
.blockquote p {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 28px;
  line-height: 1.75rem;
  margin-bottom: 20px;
}

blockquote cite,
.blockquote cite {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 19px;
  line-height: 1.1875rem;
  font-weight: 700;
  font-style: normal;
}

caption {
  font-size: inherit;
  line-height: normal;
  font-weight: 700;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #d7d7d7;
}

table {
  font-size: 14px;
  font-size: 0.875rem;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 0;
  text-align: left;
}

table thead td,
table thead th,
table tbody td,
table tbody th,
table tfoot td,
table tfoot th {
  color: #585858;
  padding: 10px;
  border-bottom: 1px solid #e9e9e9;
}

code, kbd, pre, samp {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 18px;
  line-height: 1.125rem;
  word-wrap: break-word;
  font-family: monospace, monospace;
  color: #000;
  background-color: transparent;
  font-weight: normal;
  padding: 0;
  white-space: pre-wrap;
}

pre {
  padding: 10px;
  overflow: auto;
  border: 1px solid #d7d7d7;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

label,
button,
input,
optgroup,
select,
textarea {
  color: #000;
  font: inherit;
  margin: 0;
  border-radius: 0;
}

[type="text"],
[type="email"],
[type="password"],
[type="tel"],
[type="number"],
[type="date"] {
  height: 36px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  border-radius: 0;
}

[type="text"]:focus,
[type="email"]:focus,
[type="password"]:focus,
[type="tel"]:focus,
[type="number"]:focus,
[type="date"]:focus {
  background-color: #fff;
  border-color: #f7c723;
  outline: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: auto;
}

textarea:focus {
  background-color: #fff;
  border-color: #f7c723;
  outline: 0;
}

select {
  text-transform: none;
  height: 36px;
  padding: 0 10px;
  background-color: #fff;
  border: 1px solid #ccc;
}

select:focus {
  background-color: #fff;
  border-color: #f7c723;
  outline: 0;
}

optgroup {
  font-weight: 700;
}

button {
  border-radius: 0;
  overflow: visible;
  text-transform: none;
  cursor: pointer;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  border-radius: 0;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

button[disabled],
html input[disabled] {
  cursor: not-allowed;
}

input::-webkit-input-placeholder {
  color: #999;
}

input:-moz-placeholder {
  color: #999;
}

input::-moz-placeholder {
  color: #999;
}

input:-ms-input-placeholder {
  color: #999;
}

/*Grid
--------------------------------*/
.container {
  display: table;
  height: 100%;
  position: relative;
  table-layout: fixed;
  width: 100%;
}

.container .wrap {
  display: table-cell;
  overflow: hidden;
  vertical-align: middle;
}

.container .wrap:not(.noSpaces), .container .wrap.spaceWrap,
.container .wrap .spaceWrap {
  padding: calc(2% + 50px) calc(8% + 15px);
}

.container .wrap .overflowHidden {
  overflow: hidden;
}

.container .wrap * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.fix-1-12 {
  max-width: 93px !important;
}

.fix-2-12 {
  max-width: 186px !important;
}

.fix-3-12 {
  max-width: 279px !important;
}

.fix-4-12 {
  max-width: 371px !important;
}

.fix-5-12 {
  max-width: 464px !important;
}

.fix-6-12 {
  max-width: 557px !important;
}

.fix-7-12 {
  max-width: 650px !important;
}

.fix-8-12 {
  max-width: 743px !important;
}

.fix-9-12 {
  max-width: 836px !important;
}

.fix-10-12 {
  max-width: 928px !important;
}

.fix-11-12 {
  max-width: 1021px !important;
}

.fix-12-12 {
  max-width: 1114px !important;
}

[class*='fix-'] {
  width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  float: none;
}

.toLeft,
.toLeft[class*='fix-'] {
  margin-left: 0 !important;
  margin-right: auto !important;
}

.toRight,
.toRight[class*='fix-'] {
  margin-right: 0 !important;
  margin-left: auto !important;
  float: right;
}

.toCenter {
  margin-left: auto !important;
  margin-right: auto !important;
}

.grid {
  margin-left: auto;
  margin-right: auto;
  /* default spaces */
}

.grid [class*='col-'] {
  display: block;
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  float: left;
}

.grid.fixedSpaces {
  margin-left: -10px;
  margin-right: -10px;
}

.grid.fixedSpaces > [class*='col-'] {
  padding-left: 10px;
  padding-right: 10px;
}

.grid.noSpaces {
  margin-left: 0;
  margin-right: 0;
}

.grid.noSpaces > [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}

.grid .toLeft[class*='col-'] {
  margin-left: 0 !important;
  margin-right: auto !important;
}

.grid .toRight[class*='col-'] {
  margin-right: 0 !important;
  margin-left: auto !important;
  float: right;
}

.grid .toCenter[class*='col-'] {
  margin-left: auto !important;
  margin-right: auto !important;
}

.grid > .col-1-12 {
  max-width: 8.33333%;
}

.grid > .col-2-12 {
  max-width: 16.66667%;
}

.grid > .col-3-12 {
  max-width: 25%;
}

.grid > .col-4-12 {
  max-width: 33.33333%;
}

.grid > .col-5-12 {
  max-width: 41.66667%;
}

.grid > .col-6-12 {
  max-width: 50%;
}

.grid > .col-7-12 {
  max-width: 58.33333%;
}

.grid > .col-8-12 {
  max-width: 66.66667%;
}

.grid > .col-9-12 {
  max-width: 75%;
}

.grid > .col-10-12 {
  max-width: 83.33333%;
}

.grid > .col-11-12 {
  max-width: 91.66667%;
}

.grid > .col-12-12 {
  max-width: 100%;
}

.grid > .col-1-10 {
  max-width: 10%;
}

.grid > .col-2-10 {
  max-width: 20%;
}

.grid > .col-3-10 {
  max-width: 30%;
}

.grid > .col-4-10 {
  max-width: 40%;
}

.grid > .col-5-10 {
  max-width: 50%;
}

.grid > .col-6-10 {
  max-width: 60%;
}

.grid > .col-7-10 {
  max-width: 70%;
}

.grid > .col-8-10 {
  max-width: 80%;
}

.grid > .col-9-10 {
  max-width: 90%;
}

.grid > .col-10-10 {
  max-width: 100%;
}

.grid + .grid {
  margin-top: 20px;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

/* ipad landscape and > */
@media (max-width: 1023px) {
  .grid:not(.later) > [class*='col-']:not([class*='col-phablet-']):not([class*='col-phone-']) {
    max-width: 100%;
  }

  .grid > .col-tablet-1-1 {
    max-width: 100% !important;
  }

  .grid > .col-tablet-1-2 {
    max-width: 50% !important;
  }

  .grid > .col-tablet-1-3 {
    max-width: 33.33333333% !important;
  }

  .grid > .col-tablet-2-3 {
    max-width: 66.66666666% !important;
  }

  .grid > .col-tablet-1-4 {
    max-width: 25% !important;
  }

  .grid > .col-tablet-3-4 {
    max-width: 75% !important;
  }
}

/* phablet landscape and ipad portrait and > */
@media (max-width: 767px) {
  .grid.later > [class*='col-']:not([class*='col-phone-']) {
    max-width: 100%;
  }

  .grid > .col-phablet-1-1 {
    max-width: 100% !important;
  }

  .grid > .col-phablet-1-2 {
    max-width: 50% !important;
  }

  .grid > .col-phablet-1-3 {
    max-width: 33.33333333% !important;
  }

  .grid > .col-phablet-1-4 {
    max-width: 25% !important;
  }

  .grid > .col-phablet-3-4 {
    max-width: 75% !important;
  }
}

/* phone portrait and > */
@media (max-width: 435px) {
  .grid > [class*='col-'] {
    max-width: 100%;
  }

  .grid > .col-phone-1-1 {
    max-width: 100% !important;
  }

  .grid > .col-phone-1-2 {
    max-width: 50% !important;
  }

  .grid > .col-phone-1-3 {
    max-width: 33.33333333% !important;
  }

  .grid > .col-phone-2-3 {
    max-width: 66.66666666% !important;
  }
}

/* Welcome new Grid! */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -2%;
  margin-right: -2%;
  /* default spaces */
  /* alignments */
}

.flex > [class*='col-'] {
  padding-left: 2%;
  padding-right: 2%;
}

.flex.fixedSpaces {
  margin-left: -14px;
  margin-right: -14px;
}

.flex.fixedSpaces > [class*='col-'] {
  padding-left: 14px;
  padding-right: 14px;
}

.flex > .noSpaces {
  margin-left: 0;
  margin-right: 0;
}

.flex > .noSpaces > [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}

.flex.verticalCenter {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex.reverse {
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.flex.bottom [class*='col-'], .flex.reverse.top [class*='col-'] {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.flex.top [class*='col-'], .flex.reverse.bottom [class*='col-'] {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.flex > .col-1-12 {
  width: 8.33333%;
}

.flex > .col-2-12 {
  width: 16.66667%;
}

.flex > .col-3-12 {
  width: 25%;
}

.flex > .col-4-12 {
  width: 33.33333%;
}

.flex > .col-5-12 {
  width: 41.66667%;
}

.flex > .col-6-12 {
  width: 50%;
}

.flex > .col-7-12 {
  width: 58.33333%;
}

.flex > .col-8-12 {
  width: 66.66667%;
}

.flex > .col-9-12 {
  width: 75%;
}

.flex > .col-10-12 {
  width: 83.33333%;
}

.flex > .col-11-12 {
  width: 91.66667%;
}

.flex > .col-12-12 {
  width: 100%;
}

.flex > .col-1-10 {
  width: 10%;
}

.flex > .col-2-10 {
  width: 20%;
}

.flex > .col-3-10 {
  width: 30%;
}

.flex > .col-4-10 {
  width: 40%;
}

.flex > .col-5-10 {
  width: 50%;
}

.flex > .col-6-10 {
  width: 60%;
}

.flex > .col-7-10 {
  width: 70%;
}

.flex > .col-8-10 {
  width: 80%;
}

.flex > .col-9-10 {
  width: 90%;
}

.flex > .col-10-10 {
  width: 100%;
}

/* ipad landscape and > */
@media (max-width: 1023px) {
  .flex:not(.later) > [class*='col-']:not([class*='col-phablet-']):not([class*='col-phone-']) {
    width: 100%;
  }

  .flex > .col-tablet-1-1 {
    width: 100% !important;
  }

  .flex > .col-tablet-1-2 {
    width: 50% !important;
  }

  .flex > .col-tablet-1-3 {
    width: 33.33333333% !important;
  }

  .flex > .col-tablet-2-3 {
    width: 66.66666666% !important;
  }

  .flex > .col-tablet-1-4 {
    width: 25% !important;
  }

  .flex > .col-tablet-3-4 {
    width: 75% !important;
  }

  .flex > .col-tablet-1-5 {
    width: 20% !important;
  }

  .flex > .col-tablet-2-5 {
    width: 40% !important;
  }

  .flex > .col-tablet-3-5 {
    width: 60% !important;
  }

  .flex > .col-tablet-4-5 {
    width: 80% !important;
  }
}

/* phablet landscape and ipad portrait and > */
@media (max-width: 767px) {
  .flex.later > [class*='col-']:not([class*='col-phone-']) {
    width: 100%;
  }

  .flex > .col-phablet-1-1 {
    width: 100% !important;
  }

  .flex > .col-phablet-1-2 {
    width: 50% !important;
  }

  .flex > .col-phablet-1-3 {
    width: 33.33333333% !important;
  }

  .flex > .col-phablet-2-3 {
    width: 66.66666666% !important;
  }

  .flex > .col-phablet-1-4 {
    width: 25% !important;
  }

  .flex > .col-phablet-3-4 {
    width: 75% !important;
  }
}

/* phone portrait and > */
@media (max-width: 435px) {
  .flex > [class*='col-'] {
    width: 100%;
  }

  .flex > .col-phone-1-1 {
    width: 100% !important;
  }

  .flex > .col-phone-1-2 {
    width: 50% !important;
  }

  .flex > .col-phone-1-3 {
    width: 33.33333333% !important;
  }

  .flex > .col-phone-2-3 {
    width: 66.66666666% !important;
  }
}



/* Utilities
--------------------------------*/

/*General Resets*/
.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.no-float {
  float: none;
}

.no-background {
  background: transparent;
}

.no-border {
  border: 0;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

/*Font Weights*/
.font-100 {
  font-weight: 100;
}

.font-200 {
  font-weight: 200;
}

.font-300 {
  font-weight: 300;
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}

.font-800 {
  font-weight: 800;
}

.font-900 {
  font-weight: 900;
}

/*Font Styles*/
.font-normal {
  font-style: normal;
}

.font-italic {
  font-style: italic;
}

/*Text Modifications*/
.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

/*Text Alignments*/
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

/*Lists*/
.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-inline {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-inline li {
  margin: 0;
  padding: 0;
  display: inline-block;
}


/*Positions*/
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

/*Display Types*/
.none {
  display: none;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

/*Height and Width*/

.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.mw-100 {
  max-width: 100% !important;
}

.mh-100 {
  max-height: 100% !important;
}

/*Flex Types*/
.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-start {
  justify-content: flex-start;
}

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

/*Floats*/
.float-left {
  float: left;
}

.float-right {
  float: right;
}

/*Alignment*/
.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

/*Padding Helpers*/
.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-25 {
  padding-left: 25px;
  padding-right: 25px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.px-35 {
  padding-left: 35px;
  padding-right: 35px;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.px-45 {
  padding-left: 45px;
  padding-right: 45px;
}

.px-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.px-55 {
  padding-left: 55px;
  padding-right: 55px;
}

.px-60 {
  padding-left: 60px;
  padding-right: 60px;
}

.py-0 {
  padding-bottom: 0;
  padding-top: 0;
}

.py-5 {
  padding-bottom: 5px;
  padding-top: 5px;
}

.py-10 {
  padding-bottom: 10px;
  padding-top: 10px;
}

.py-15 {
  padding-bottom: 15px;
  padding-top: 15px;
}

.py-20 {
  padding-bottom: 20px;
  padding-top: 20px;
}

.py-25 {
  padding-bottom: 25px;
  padding-top: 25px;
}

.py-30 {
  padding-bottom: 30px;
  padding-top: 30px;
}

.py-35 {
  padding-bottom: 35px;
  padding-top: 35px;
}

.py-40 {
  padding-bottom: 40px;
  padding-top: 40px;
}

.py-45 {
  padding-bottom: 45px;
  padding-top: 45px;
}

.py-50 {
  padding-bottom: 50px;
  padding-top: 50px;
}

.py-55 {
  padding-bottom: 55px;
  padding-top: 55px;
}

.py-60 {
  padding-bottom: 60px;
  padding-top: 60px;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-60 {
  padding-bottom: 60px;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.p-25 {
  padding: 25px;
}

.p-30 {
  padding: 30px;
}

.p-35 {
  padding: 35px;
}

.p-40 {
  padding: 40px;
}

.p-45 {
  padding: 45px;
}

.p-50 {
  padding: 50px;
}

.p-55 {
  padding: 55px;
}

.p-60 {
  padding: 60px;
}

/* Margin helpers */
.mt-0 {
  margin-top: 0;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.m-15 {
  margin: 15px;
}

.m-20 {
  margin: 20px;
}

.m-25 {
  margin: 25px;
}

.m-30 {
  margin: 30px;
}

.m-35 {
  margin: 35px;
}

.m-40 {
  margin: 40px;
}

.m-45 {
  margin: 45px;
}

.m-50 {
  margin: 50px;
}

.m-55 {
  margin: 55px;
}

.m-60 {
  margin: 60px;
}



/*Hide only visually, but have it available for screenreaders: : h5bp.com/v*/
.sr {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


/*Images*/
.img-fluid {
  max-width: 100%;
}

/*Form*/
.field {
  width: 100%;
}

/*Grouped Form Fields*/
.form-group {
  overflow: hidden;
}

.form-group label {
  display: inline-block;
  padding-top: 8px;
}

/*Disable Element*/
.disabled, [disabled] {
  pointer-events: none;
  cursor: not-allowed;
  opacity: .5;
}

/*Checkbox and Radio*/

.checkbox,
.radio {
  display: inline-block;
  position: relative;
}

.checkbox label,
.radio label {
  padding-left: 20px;
  padding-top: 0;
  display: inline-block;
}

.checkbox input[type="checkbox"],
.checkbox input[type="radio"],
.radio input[type="checkbox"],
.radio input[type="radio"] {
  position: absolute;
  top: 4px;
  left: 0;
}

.select {
  position: relative;
  display: block;
}

.select:before {
  content: "";
  border: 6px solid transparent;
  border-top-color: #676767;
  top: 50%;
  right: 10px;
  margin-top: -3px;
  pointer-events: none;
  position: absolute;
}

.select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 36px;
  width: 100%;
  padding: 0 10px;
  line-height: normal;
  border: 1px solid #ccc;
  background: #fff;
  display: block;
}

.select select::-ms-expand {
  display: none;
}

.select select:focus {
  border-color: #f7c723;
}

.select select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
  border-color: #f7c723;
}

@media only screen and (min-width: 740px) {
  .no-float-m {
    float: none;
  }

  .no-padding-m {
    padding: 0;
  }

  .no-margin-m {
    margin: 0;
  }

  .relative-m {
    position: relative;
  }

  .absolute-m {
    position: absolute;
  }

  .static-m {
    position: static;
  }

  .fixed-m {
    position: fixed;
  }

  .none-m {
    display: none;
  }

  .block-m {
    display: block;
  }

  .inline-block-m {
    display: inline-block;
  }

  .inline-m {
    display: inline;
  }

  .flex-m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .flex-row-m {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .flex-column-m {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .flex-space-around-m {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .flex-space-between-m {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .flex-start-m {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .flex-center-m {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .flex-end-m {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .flex-wrap-m {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .flex-nowrap-m {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .left-m {
    float: left;
  }

  .right-m {
    float: right;
  }

  .center-m {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .text-left-m {
    text-align: left;
  }

  .text-right-m {
    text-align: right;
  }

  .text-center-m {
    text-align: center;
  }

  .text-justify-m {
    text-align: justify;
  }

  .no-col-m {
    width: auto;
    float: none;
  }

  .no-push-m, .no-pull-m {
    left: 0;
  }

  .pt-0-m {
    padding-top: 0;
  }

  .pt-5-m {
    padding-top: 5px;
  }

  .pt-10-m {
    padding-top: 10px;
  }

  .pt-15-m {
    padding-top: 15px;
  }

  .pt-20-m {
    padding-top: 20px;
  }

  .pt-25-m {
    padding-top: 25px;
  }

  .pt-30-m {
    padding-top: 30px;
  }

  .pt-35-m {
    padding-top: 35px;
  }

  .pt-40-m {
    padding-top: 40px;
  }

  .pt-45-m {
    padding-top: 45px;
  }

  .pt-50-m {
    padding-top: 50px;
  }

  .pt-55-m {
    padding-top: 55px;
  }

  .pt-60-m {
    padding-top: 60px;
  }

  .pb-0-m {
    padding-bottom: 0;
  }

  .pb-5-m {
    padding-bottom: 5px;
  }

  .pb-10-m {
    padding-bottom: 10px;
  }

  .pb-15-m {
    padding-bottom: 15px;
  }

  .pb-20-m {
    padding-bottom: 20px;
  }

  .pb-25-m {
    padding-bottom: 25px;
  }

  .pb-30-m {
    padding-bottom: 30px;
  }

  .pb-35-m {
    padding-bottom: 35px;
  }

  .pb-40-m {
    padding-bottom: 40px;
  }

  .pb-45-m {
    padding-bottom: 45px;
  }

  .pb-50-m {
    padding-bottom: 50px;
  }

  .pb-55-m {
    padding-bottom: 55px;
  }

  .pb-60-m {
    padding-bottom: 60px;
  }

  .p-0-m {
    padding: 0;
  }

  .p-5-m {
    padding: 5px;
  }

  .p-10-m {
    padding: 10px;
  }

  .p-15-m {
    padding: 15px;
  }

  .p-20-m {
    padding: 20px;
  }

  .p-25-m {
    padding: 25px;
  }

  .p-30-m {
    padding: 30px;
  }

  .p-35-m {
    padding: 35px;
  }

  .p-40-m {
    padding: 40px;
  }

  .p-45-m {
    padding: 45px;
  }

  .p-50-m {
    padding: 50px;
  }

  .p-55-m {
    padding: 55px;
  }

  .p-60-m {
    padding: 60px;
  }
}

@media only screen and (min-width: 980px) {
  .no-float-l {
    float: none;
  }

  .no-padding-l {
    padding: 0;
  }

  .no-margin-l {
    margin: 0;
  }

  .relative-l {
    position: relative;
  }

  .absolute-l {
    position: absolute;
  }

  .static-l {
    position: static;
  }

  .fixed-l {
    position: fixed;
  }

  .none-l {
    display: none;
  }

  .block-l {
    display: block;
  }

  .inline-block-l {
    display: inline-block;
  }

  .inline-l {
    display: inline;
  }

  .flex-l {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .flex-row-l {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .flex-column-l {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .flex-space-around-l {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .flex-space-between-l {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .flex-start-l {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .flex-center-l {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .flex-end-l {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .flex-wrap-l {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .flex-nowrap-l {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .left-l {
    float: left;
  }

  .right-l {
    float: right;
  }

  .center-l {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .text-left-l {
    text-align: left;
  }

  .text-right-l {
    text-align: right;
  }

  .text-center-l {
    text-align: center;
  }

  .text-justify-l {
    text-align: justify;
  }

  .no-col-l {
    width: auto;
    float: none;
  }

  .no-push-l, .no-pull-l {
    left: 0;
  }

  .pt-0-l {
    padding-top: 0;
  }

  .pt-5-l {
    padding-top: 5px;
  }

  .pt-10-l {
    padding-top: 10px;
  }

  .pt-15-l {
    padding-top: 15px;
  }

  .pt-20-l {
    padding-top: 20px;
  }

  .pt-25-l {
    padding-top: 25px;
  }

  .pt-30-l {
    padding-top: 30px;
  }

  .pt-35-l {
    padding-top: 35px;
  }

  .pt-40-l {
    padding-top: 40px;
  }

  .pt-45-l {
    padding-top: 45px;
  }

  .pt-50-l {
    padding-top: 50px;
  }

  .pt-55-l {
    padding-top: 55px;
  }

  .pt-60-l {
    padding-top: 60px;
  }

  .pb-0-l {
    padding-bottom: 0;
  }

  .pb-5-l {
    padding-bottom: 5px;
  }

  .pb-10-l {
    padding-bottom: 10px;
  }

  .pb-15-l {
    padding-bottom: 15px;
  }

  .pb-20-l {
    padding-bottom: 20px;
  }

  .pb-25-l {
    padding-bottom: 25px;
  }

  .pb-30-l {
    padding-bottom: 30px;
  }

  .pb-35-l {
    padding-bottom: 35px;
  }

  .pb-40-l {
    padding-bottom: 40px;
  }

  .pb-45-l {
    padding-bottom: 45px;
  }

  .pb-50-l {
    padding-bottom: 50px;
  }

  .pb-55-l {
    padding-bottom: 55px;
  }

  .pb-60-l {
    padding-bottom: 60px;
  }

  .p-0-l {
    padding: 0;
  }

  .p-5-l {
    padding: 5px;
  }

  .p-10-l {
    padding: 10px;
  }

  .p-15-l {
    padding: 15px;
  }

  .p-20-l {
    padding: 20px;
  }

  .p-25-l {
    padding: 25px;
  }

  .p-30-l {
    padding: 30px;
  }

  .p-35-l {
    padding: 35px;
  }

  .p-40-l {
    padding: 40px;
  }

  .p-45-l {
    padding: 45px;
  }

  .p-50-l {
    padding: 50px;
  }

  .p-55-l {
    padding: 55px;
  }

  .p-60-l {
    padding: 60px;
  }
}

@media only screen and (min-width: 1140px) {
  .no-float-xl {
    float: none;
  }

  .no-padding-xl {
    padding: 0;
  }

  .no-margin-xl {
    margin: 0;
  }

  .relative-xl {
    position: relative;
  }

  .absolute-xl {
    position: absolute;
  }

  .static-xl {
    position: static;
  }

  .fixed-xl {
    position: fixed;
  }

  .none-xl {
    display: none;
  }

  .block-xl {
    display: block;
  }

  .inline-block-xl {
    display: inline-block;
  }

  .inline-xl {
    display: inline;
  }

  .flex-xl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .flex-row-xl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .flex-column-xl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .flex-space-around-xl {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .flex-space-between-xl {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .flex-start-xl {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .flex-center-xl {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .flex-end-xl {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .flex-wrap-xl {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .flex-nowrap-xl {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .left-xl {
    float: left;
  }

  .right-xl {
    float: right;
  }

  .center-xl {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .text-left-xl {
    text-align: left;
  }

  .text-right-xl {
    text-align: right;
  }

  .text-center-xl {
    text-align: center;
  }

  .text-justify-xl {
    text-align: justify;
  }

  .no-col-xl {
    width: auto;
    float: none;
  }

  .no-push-xl, .no-pull-xl {
    left: 0;
  }

  .pt-0-xl {
    padding-top: 0;
  }

  .pt-5-xl {
    padding-top: 5px;
  }

  .pt-10-xl {
    padding-top: 10px;
  }

  .pt-15-xl {
    padding-top: 15px;
  }

  .pt-20-xl {
    padding-top: 20px;
  }

  .pt-25-xl {
    padding-top: 25px;
  }

  .pt-30-xl {
    padding-top: 30px;
  }

  .pt-35-xl {
    padding-top: 35px;
  }

  .pt-40-xl {
    padding-top: 40px;
  }

  .pt-45-xl {
    padding-top: 45px;
  }

  .pt-50-xl {
    padding-top: 50px;
  }

  .pt-55-xl {
    padding-top: 55px;
  }

  .pt-60-xl {
    padding-top: 60px;
  }

  .pb-0-xl {
    padding-bottom: 0;
  }

  .pb-5-xl {
    padding-bottom: 5px;
  }

  .pb-10-xl {
    padding-bottom: 10px;
  }

  .pb-15-xl {
    padding-bottom: 15px;
  }

  .pb-20-xl {
    padding-bottom: 20px;
  }

  .pb-25-xl {
    padding-bottom: 25px;
  }

  .pb-30-xl {
    padding-bottom: 30px;
  }

  .pb-35-xl {
    padding-bottom: 35px;
  }

  .pb-40-xl {
    padding-bottom: 40px;
  }

  .pb-45-xl {
    padding-bottom: 45px;
  }

  .pb-50-xl {
    padding-bottom: 50px;
  }

  .pb-55-xl {
    padding-bottom: 55px;
  }

  .pb-60-xl {
    padding-bottom: 60px;
  }

  .p-0-xl {
    padding: 0;
  }

  .p-5-xl {
    padding: 5px;
  }

  .p-10-xl {
    padding: 10px;
  }

  .p-15-xl {
    padding: 15px;
  }

  .p-20-xl {
    padding: 20px;
  }

  .p-25-xl {
    padding: 25px;
  }

  .p-30-xl {
    padding: 30px;
  }

  .p-35-xl {
    padding: 35px;
  }

  .p-40-xl {
    padding: 40px;
  }

  .p-45-xl {
    padding: 45px;
  }

  .p-50-xl {
    padding: 50px;
  }

  .p-55-xl {
    padding: 55px;
  }

  .p-60-xl {
    padding: 60px;
  }
}

@media print {
  .no-float-print {
    float: none;
  }

  .no-padding-print {
    padding: 0;
  }

  .no-margin-print {
    margin: 0;
  }

  .none-print {
    display: none;
  }

  .block-print {
    display: block;
  }

  .inline-block-print {
    display: inline-block;
  }

  .inline-print {
    display: inline;
  }

  .text-left-print {
    text-align: left;
  }

  .text-right-print {
    text-align: right;
  }

  .text-center-print {
    text-align: center;
  }

  .text-justify-print {
    text-align: justify;
  }

  .no-col-print {
    width: auto;
    float: none;
  }

  .no-push-print, .no-pull-print {
    left: 0;
  }

  .pt-0-print {
    padding-top: 0;
  }

  .pt-5-print {
    padding-top: 5px;
  }

  .pt-10-print {
    padding-top: 10px;
  }

  .pt-15-print {
    padding-top: 15px;
  }

  .pt-20-print {
    padding-top: 20px;
  }

  .pt-25-print {
    padding-top: 25px;
  }

  .pt-30-print {
    padding-top: 30px;
  }

  .pt-35-print {
    padding-top: 35px;
  }

  .pt-40-print {
    padding-top: 40px;
  }

  .pt-45-print {
    padding-top: 45px;
  }

  .pt-50-print {
    padding-top: 50px;
  }

  .pt-55-print {
    padding-top: 55px;
  }

  .pt-60-print {
    padding-top: 60px;
  }

  .pb-0-print {
    padding-bottom: 0;
  }

  .pb-5-print {
    padding-bottom: 5px;
  }

  .pb-10-print {
    padding-bottom: 10px;
  }

  .pb-15-print {
    padding-bottom: 15px;
  }

  .pb-20-print {
    padding-bottom: 20px;
  }

  .pb-25-print {
    padding-bottom: 25px;
  }

  .pb-30-print {
    padding-bottom: 30px;
  }

  .pb-35-print {
    padding-bottom: 35px;
  }

  .pb-40-print {
    padding-bottom: 40px;
  }

  .pb-45-print {
    padding-bottom: 45px;
  }

  .pb-50-print {
    padding-bottom: 50px;
  }

  .pb-55-print {
    padding-bottom: 55px;
  }

  .pb-60-print {
    padding-bottom: 60px;
  }

  .p-0-print {
    padding: 0;
  }

  .p-5-print {
    padding: 5px;
  }

  .p-10-print {
    padding: 10px;
  }

  .p-15-print {
    padding: 15px;
  }

  .p-20-print {
    padding: 20px;
  }

  .p-25-print {
    padding: 25px;
  }

  .p-30-print {
    padding: 30px;
  }

  .p-35-print {
    padding: 35px;
  }

  .p-40-print {
    padding: 40px;
  }

  .p-45-print {
    padding: 45px;
  }

  .p-50-print {
    padding: 50px;
  }

  .p-55-print {
    padding: 55px;
  }

  .p-60-print {
    padding: 60px;
  }
}
